@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Meridian</h1>

</div>
<div>
    <p>“We are a consultancy specialising in the provision of bespoke property related health and safety risk management solutions across all business sectors.</p>

    <p>A client-centric focus, close engagement, exceptional people and robust and consistent quality assurance underpin our service delivery.</p>

    <p>Our auditing, consulting, training and data management services are aimed at ensuring that all of your health and safety obligations are pro-actively managed, and will provide you with the tools to sustain a market-leading position in this important area.</p>

    <p>The Online Software Meridian’s key features:</p>
    <ul>
        <li>        ‘dashboard’ of compliance – configurable and dynamic</li>

        <li>       customised management reports – executive and operational </li>

        <li>       document upload and storage – including photographs, schematics, certificates</li>

        <li>       event tracking- periodic assessments, audits, inspections </li>

        <li>      action management – against prioritised action plans </li>

        <li>        tracking of inspections for individual plant items </li>

        <li>     compliance benchmarking – against specific KPIs </li>

        <li>      performance monitoring -group, regional, client, portfolio, staff</li>

        <li>      date-stamped audit trail and due diligence archive</li>

        <li>     email escalations, notifications and alerts</li>

        <li>      controlled access and authorisations for staff and third party partners</li>

        <li>      ability to export data to Excel in a single click</li>

        <li>     integrated modules</li>

        <li>      accident and incident reporting</li>

        <li>     contractor management</li>

        <li>      e-permits</li>

        <li>          inspection </li>

        <li>       environmental monitoring</li>

        <li>         ISO compliance tracking”</li>

    </ul>


</div>
